{% extends 'base.html' %}
{% load staticfiles %}

{% block css_link %}
  <link rel="stylesheet" href="{% static 'desk_app/css/to_do.css' %}" />
{% endblock %}

{% block content %}
  <div id="wrapper">
    <h3 id="header">To-Do</h3>
    <br />

    <form id="to-do-form" method="post" action="{% url 'to_do' deskname=desk.name %}">
      {% csrf_token %}
      <input type="text" name="to_do_task_input" id="to_do_task_input" placeholder="Add a task ..." />
      <input type="submit" name="to_do_form_submit_button" id="to_do_form_submit_button"/>
    </form>

    <div id="to-do-list">

      <!-- CELL -->
      <div id="to-do-cell" style="border:2px solid #E74C3C;">
        <div id="left-part">
          <p style="color:#E74C3C;"><i class="fa fa-circle"></i></p>
        </div><!-- /left-part -->
        <div id="content">
          <h5><span style="border: 1px solid #E74C3C; color: #E74C3C; padding:3px; border-radius:3px;">username </span> <span id="date">17 Feb</span></h5>
          <p>r since the 1500s, when an unknown printer took a galleasd adas asdasd asdady of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with des</p>
        </div><!-- /content -->
        <div id="right-part">
          <form method="post">
            {% csrf_token %}
            <button type="submit" name="delete_button" id="delete_button"><i class="fa fa-close"></i></button>
          </form>

          <form method="post" class="text-center">
            {% csrf_token %}
            <button type="submit" name="check_button" id="check_button" style="border:2px solid #E74C3C"><span><i class="fa fa-check"></i></span></button>
          </form>
        </div><!-- right part -->
      </div><!-- /cell -->

    </div><!-- /to do list -->

  </div><!-- /wrapper -->
{% endblock %}
