{% extends 'base.html' %}
{% load staticfiles %}

{% block css_link %}
<link rel="stylesheet" href="{% static 'profile_app/css/contributions_style.css' %}" />
{% endblock %}

{% block content %}
<div id="wrapper">
  <h3 id="header">Contributions</h3>
  <br />

  <hr />
  <img src="{{current_user_settings.profile_photo.url}}" alt="pp_image" height="60px" width="60px" />
  <h3>{{ current_user_settings.name }}</h3>
  <p>{{ current_user_settings.bio }}</p>
  <a href="{{ current_user_settings.personal_link }}"><i class="fa fa-link"></i> {{ current_user_settings.personal_link }}</a>

  <hr />
  <h4>Articles:</h4>
  <div id="articles-container">
    {% for article in current_user_articles %}
      <!-- cell -->
      <div id="article-cell">
        <h3>{{ article.title }}</h3>
        <h4 style="color:{{article.desk.get_category_color_display}}; border: 1px solid {{article.desk.get_category_color_display}}; display:inline-block; padding:3px; border-radius: 3px;">{{ article.category|lower }}</h4>
        <h5 style="margin-bottom:20px;">{{ article.publish_date }}</h5>
        <p>{{ article.content }}</p>
      </div><!-- article /cell -->
    {% endfor %}
  </div><!-- articles container -->

</div><!-- wrapper -->
{% endblock %}
