#wrapper {
  margin-left: 375px !important;
  background-color: white;
  height: 100vh;
  width: 70%;
  padding-left: 30px;
  padding-right: 25px;
  overflow: auto;
}

#header {
  font-weight: 500;
  font-size: 26px;
}

#wrapper img {
  border-radius: 50%;
}
