{% extends 'base.html' %}
{% load staticfiles %}

{% block css_link %}
  <link rel="stylesheet" href="{% static 'home_app/css/signup.css' %}" />
{% endblock %}


{% block content %}

  <div id="wrapper">
    <h1 id="header">SIGN UP</h1>

    {% if invalid_account_form_credits %}
    <div id="invalid-credits">
      <h3>The username/email is already existing or you entered a wrong key</h3>
    </div>
    {% endif %}

    {% if invalid_office_form_credits  %}
    <div id="invalid-credits">
      <h3>The office or the user is already existing</h3>
    </div>
    {% endif %}

    <button id="account-create-button">CREATE AN ACCOUNT</button>
    <button id="office-create-button">CREATE AN OFFICE</button>

    <!-- hiden account panel -->
    <div id="account-hidden-panel">
      <a href="">Please read the documentation very carefully</a>
      <form id="account-form" method="post" action="{% url 'signup' %}">
        {% csrf_token %}
        <label>Create Account</label>
        {{ normal_account_form.username }}
        {{ normal_account_form.email }}
        {{ normal_account_form.first_name }}
        {{ normal_account_form.last_name }}
        {{ normal_account_form.password }}
        <label>Join Office</label>
        {{ normal_account_form.office_key }}
        <input type="submit" name="normal_account_signup_btn" id="signup_btn" />
      </form>
    </div>
    <!-- /hidden account panel -->

    <!-- Hidden office panel -->
    <div id="office-hidden-panel">
      <a href="">Please read the documentation very carefully</a>
      <form id="office-form" method="post" action="{% url 'signup' %}">
        {% csrf_token %}
        <label>Create Office</label>
        {{ office_account_form.office_name }}
        {{ office_account_form.office_type }}
        <br />
        <label>Create Office Admin</label>
        {{ office_account_form.username }}
        {{ office_account_form.email }}
        {{ office_account_form.first_name }}
        {{ office_account_form.last_name }}
        {{ office_account_form.password }}
        <input type="submit" value="Sign Up" name="office_admin_signup" id="signup_btn" />

      </form>
    </div>
    <!-- /hidden office panel -->

    <script src="{% static 'home_app/js/signup_dom.js' %}"></script>
  </div><!-- /wrapper -->
{% endblock %}
